[package]
name = "nlprule" # BUILD_BINDINGS_COMMENT
# name = "nlprule_core" # BUILD_BINDINGS_UNCOMMENT
version = "0.3.0"
authors = ["Benjamin Minixhofer <bminixhofer@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Fast rule-based grammatical error correction through parsing LanguageTool rules."
repository = "https://github.com/bminixhofer/nlprule"
keywords = ["text", "spelling", "language-processing", "nlp", "grammar"]
categories = ["science", "text-processing"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0", features = ["derive", "rc"] }
bincode = "1.3"
bimap = { version = "0.6", features = ["serde"] }
log = "0.4"
onig = { version = "6.1", default_features = false }
lazy_static = "1.4"
thiserror = "1"
either = { version = "1.6", features = ["serde"] }
itertools = "0.10"
enum_dispatch = "0.3"
indexmap = { version = "1", features = ["serde"] }
unicase = "2.6"
derivative = "2.2"
once_cell = "1.5"
fst = "0.4"
aho-corasick = "0.7"
half = { version = "1.7", features = ["serde"] }
srx = {version = "0.1", features = ["serde"] }

rayon-cond = "0.1"
rayon = "1.5"

clap = { version = "3.0.0-beta.1", optional = true }
env_logger = { version = "0.8", optional = true }

serde-xml-rs = { version = "0.4", optional = true }
xml-rs = { version = "0.8.3", optional = true }
roxmltree = { version = "0.14.0", optional = true }
serde_json = { version = "1", optional = true }

[dev-dependencies]
quickcheck = "1.0"
quickcheck_macros = "1.0"

[features]
compile = ["serde-xml-rs", "xml-rs", "roxmltree", "serde_json", "srx/from_xml"]
bin = ["clap", "env_logger"]

[[bin]]
name = "compile"
required-features = ["compile", "bin"]

[[bin]]
name = "test"
required-features = ["bin"]

[[bin]]
name = "run"
required-features = ["bin"]

[[bin]]
name = "test_disambiguation"
required-features = ["bin"]
